.customNav{
    margin-right: 100px;
    margin-top: 20px;
}
.heroImg{
    background-color: #ffffff;
    color: #02244E;
    padding-left: 100px;
    padding-right: 100px;
}
.research{
    background-color: #73919C;
    color: #73919C;
    padding-left: 100px;
    padding-right: 100px;
}
.research h1{
    color: #ffffff;
}
.keyInsights{
    background-color: #ffffff;
    color: #02244E;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.keyInsight1{
    margin-bottom: 50px;
}
.problem{
    background-color: #73919C;
    color: #ffffff;
    padding-left: 100px;
    padding-right: 100px;
}
.brainstorming{
    background-color: #ffffff;
    color: #02244E;
    padding-left: 100px;
    padding-right: 100px;
}
.competitorAnalysis{
    background-color: #73919C;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.competitorAnalysis h1{
    color: #ffffff;
}
.wireframes{
    background-color: #ffffff;
    color: #02244E;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.userTesting{
    background-color: #73919C ;
    color: #ffffff;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.iteration1{
    margin-bottom: 50px;
}
.finalDesign{
    background-color: #ffffff;
    color: #02244E;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.nextSteps{
    background-color: #73919C;
    color: #ffffff;
    padding-left: 100px;
    padding-right: 100px;
}
h1{
    margin-bottom: 30px;
}
